/*
	Fuente utilizada
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700&display=swap" rel="stylesheet"> 
*/

*{
	margin: 0px;

}
html, body{
	font-family: 'Open Sans', sans-serif;
}
body{
	background-color: #eff3f6;
	font-size: 15px;
}


header{
	background-color: #fff;
	border-bottom: #eee 1px solid;
}
.contenedor-header{
	max-width: 1300px;
	margin: 0 auto;
	display: flex;
	flex-flow: grid;
	align-items: center;
	justify-content: center;	
}
.contenedor-header > div{
	display: block;
}
.contenedor-header div.logo-header{
	padding: 3px 0;
	width: 30%;
}
.contenedor-header div.menu-header{
	width: 70%;
}
.contenedor-header div.menu-header > nav > ul.menu-nav{
	margin: 0px;
	display: flex;
	align-content: center;
	justify-content: center;
}
.contenedor-header div.menu-header ul.menu-nav li{
	list-style: none;
	position: relative;
	animation: 0.2s;
}
.contenedor-header div.menu-header ul.menu-nav > li > a{
	
	font-weight: 700;
	margin: 0 8px;
	color: #313131;
	font-size: 1em;
	padding: 5px 10px;
	text-decoration: none;
	transition: 0.2s;
	display: block;
	border-radius: 7px;
	border: none;

}
.contenedor-header div.menu-header ul.menu-nav li a.activo,
.contenedor-header div.menu-header ul.menu-nav li a:hover{
	background-color: #eee;
	
}

div.box{
	display: block;
	
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #e6eaee;
}
	/* PADDING */
	.padding-10{ padding: 10px; }
	.padding-20{ padding: 20px;	}
	.padding-30{ padding: 30px;	}
	.padding-40{ padding: 40px; }
	.padding-50{ padding: 50px;	}

	.padding-top-10{ padding-top: 10px; }
	.padding-top-20{ padding-top: 20px;	}
	.padding-top-30{ padding-top: 30px;	}
	.padding-top-40{ padding-top: 40px; }
	.padding-top-50{ padding-top: 50px;	}

	.padding-bottom-10{ padding-bottom: 10px; }
	.padding-bottom-20{ padding-bottom: 20px; }
	.padding-bottom-30{ padding-bottom: 30px; }
	.padding-bottom-40{ padding-bottom: 40px; }
	.padding-bottom-50{ padding-bottom: 50px; }

	.padding-left-10{ padding-left: 10px; }
	.padding-left-20{ padding-left: 20px; }
	.padding-left-30{ padding-left: 30px; }
	.padding-left-40{ padding-left: 40px; }
	.padding-left-50{ padding-left: 50px; }

	.padding-right-10{ padding-right: 10px; }
	.padding-right-20{ padding-right: 20px;	}
	.padding-right-30{ padding-right: 30px;	}
	.padding-right-40{ padding-right: 40px; }
	.padding-right-50{ padding-right: 50px;	}

	/* MARGENES */
	.margin-10{ margin: 10px; }
	.margin-20{ margin: 20px; }
	.margin-30{ margin: 30px; }
	.margin-40{ margin: 40px; }
	.margin-50{ margin: 50px; }

	.margin-top-5{ margin-top: 5px; }
	.margin-top-10{ margin-top: 10px; }
	.margin-top-20{ margin-top: 20px; }
	.margin-top-30{ margin-top: 30px; }
	.margin-top-40{ margin-top: 40px; }
	.margin-top-50{ margin-top: 50px; }

	.margin-bottom-10{ margin-bottom: 10px; }
	.margin-bottom-20{ margin-bottom: 20px; }
	.margin-bottom-30{ margin-bottom: 30px; }
	.margin-bottom-40{ margin-bottom: 40px; }
	.margin-bottom-50{ margin-bottom: 50px; }

	.margin-left-10{ margin-left: 10px; }
	.margin-left-20{ margin-left: 20px; }
	.margin-left-30{ margin-left: 30px; }
	.margin-left-40{ margin-left: 40px; }
	.margin-left-50{ margin-left: 50px; }

	.margin-right-10{ margin-right: 10px; }
	.margin-right-20{ margin-right: 20px; }
	.margin-right-30{ margin-right: 30px; }
	.margin-right-40{ margin-right: 40px; }
	.margin-right-50{ margin-right: 50px; }

	/*	BOTONES  */
.btn-info{
	background: #2980b9;
	border-color: #106eab;
}
	.btn-info:hover{
		background: #3498db;
	}

.btn-success{
	background: #27ae60;
	border-color: #16a085;

}
	.btn-success:hover{
		background: #2ecc71;
		border-color: #1abc9c;
		
	}



/* CONTENIDO PRINCIPAL */
.contenido{
	max-width: 1366px;
	width: 96%;
	margin: 0 auto;
	padding: 10px 20px; 
	padding-bottom: 25px;
	border: #e1e1e1 1px solid;
	box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
	background-color: #fff;
	border-radius: 5px;
	margin-top: 25px;
	margin-bottom: 25px;	
}

.contenido-ventas{
	
	
	
	border: #e1e1e1 1px solid;
	box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.04), 0 1px 0 0 rgba(0, 0, 0, 0.01);
	background-color: #fff;
	border-radius: 5px;
	padding: 15px 15px;
	padding-top: 10px;

}

/* CABECERAS */
h1,
h2,
h3,
h4,
h5,
h6,
.contenido h1,
.contenido h2,
.contenido h3,
.contenido h4,
.contenido h5,
.contenido h6{ 
	margin: 0px;
	font-weight: 300; /* CAMBIAR SEGUN DISEÃ‘O */
	color: #354052; 
	padding: 0px;
	margin: 10px;
}

h1{

	font-size: 2em;
}
h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong{
	font-weight: 500;
}

.swal2-popup{
	font-size: 1em !important;
}
.swal2-title{
	font-size: 1.3em !important;
	font-weight: 400 !important;
}

.hover-tr tbody tr{
	transition: 0.2s;
}
.hover-tr tbody tr:hover{
	background-color: rgba(202, 51, 47, 0.1) !important;
}

button,
.btn{
	font-weight: 600 !important;
}


.test div{
	border: red 1px solid;
}

.titulo-h2{
	font-size: 25px;
	text-transform: uppercase;
	font-weight: 600;
	display: block;
	margin-bottom: 20px !important;
}

.autos-usados .dataTables_length{
	margin-bottom: 10px;
}
.autos-usados .dataTables_info,
.autos-usados .dataTables_paginate {
	margin-top: 10px !important;
}

.autos-usados hr.sep{
	margin-top: 25px;
	margin-bottom: 25px;
}
textarea{
	resize: vertical;
}
#Fotografia img{
	max-width: 100%;
	border-radius: 200px;
	width: 250px;
	height: 250px;
	display: block;
	margin: 0 auto;
	border: #fff 4px solid;
	box-shadow: 0 0 4px #8a8a8a8a;
	margin-bottom: 20px;
}
/* VENTAS  index.php */
.container{
	width: 100%;
	max-width: 1300px;
}
.ventas-main{

}
.ventas-main strong{
	font-family: 'Mulish', sans-serif !important;
}
.ventas-main h5{
	margin: 5px;
	font-size: 19px;
	font-weight: 600;
	text-transform: uppercase;
	padding-bottom: 8px;
	margin-bottom: 10px;
	border-bottom: #eee 1px solid;
	color: #313131;
}
.ventas-main .row div.col-md-4,
.ventas-main .row div.col-md-8{
	padding: 0px !important;
}
.ventas-main .contenido table{
	margin: 0px;
}
.ventas-main .contenido table tbody tr{
	border: #eee 1px solid;
}
.ventas-main .contenido table tbody td{
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

.ventas-main div.alert{
	padding: 5px;
	font-weight: 500;
	font-size: 13px;
}
.ventas-main form{
	margin: 0px;
}
.ventas-main form label{
	font-weight: 500 !important;
	font-size: 14px;
	color: #484848;
}
.ventas-main input[type=date]{
	padding: 0px;
	padding-left: 10px;
}

.ventas-main i.fa-check-circle{
	color: #e74c3c;
}
.ventas-main form input[type=text],
.ventas-main form select,
.ventas-main form textarea,
.ventas-main form input[type=date]{
	border: #e3e3e3 1px solid !important;
	box-shadow: none !important;
}
.ventas-main .imagen-vendedor{
	max-width: 200px;
	border-radius: 150px;
	margin: 10px auto;
	border: #e8e8e8 1px solid;
}
.ventas-main .info-vendedor b{
	font-size: 18px !important;
}

.info_seguimiento{
	border: #eee 1px solid;
	background-color: #f4f4f4;
	border-radius: 10px;
	padding: 10px;
	max-width: 95%;
	margin: 15px auto;
	color: #575757;
	font-size: 13px;
}
.seguimiento_color{
	background-color: #ecf5f7;
	border-color: #dbf3f9;
}
.info_seguimiento > div{
}
.info_seguimiento .col-md-12{
	margin-top: 10px;
	font-weight: 500;
}

h3.popover-title{
    padding: 8px 14px !important;
    margin: 0 !important;
}
.no-informacion{
	padding: 20px 0;
	font-size: 16px;
	
	margin-bottom: 10px;
	font-weight: 500;
}
.no-informacion i{
	font-size: 40px;
	margin-bottom: 10px;

}

.info-vehiculo img{
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
}

.info-vehiculo h3{
	font-weight: bold;	
	padding: 5px;
	max-width: 90%;
	margin: 0 auto;
	margin-bottom: 20px;
}
.info-detalle-vehiculo > div > div{
	padding: 5px 0;
}

.label-info{
	background: #2980b9;
	border-color: #106eab;
	padding-top: 4px;
}

/* EMERGENTE CALENDARIO */
.sweet-center button{
	padding: 4px 8px !important;
	font-size: 14px !important;

}
/*  CALENDARIO INICIO VENTAS */
.calendario-main{
	display: flex;
	flex-wrap: wrap;
	flex-direction: grid;
	align-content: center;
	min-height: 50px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: #eee 4px solid;
}
.calendario-main:last-child{
	border: none;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.calendario-main div{
	display: block;
}
.calendario-main div.fecha{
	text-align: center;
	width: 100%;
}
	.calendario-main div.fecha span{
		margin: 0px;
		color: #e74c3c;
		font-weight: 600;
		font-size: 1.4em;
	}

.calendario-main div.detalle span{
	display: block;
	padding-top: 5px;
	border-bottom: #eee 1px solid;
}
.calendario-main div.detalle span:last-child{
	border: none;
}
	.calendario-main div.detalle .detalle-titulo{
		font-weight: 500;
		font-size: 14px;
		
	}
	.calendario-main div.detalle a{
		display: inline-block;
		margin-bottom: 10px;
		cursor: pointer;
	}
	.calendario-main div.detalle i{
		margin-right: 4px;
		color: #787878;
		font-size: 16px;
	}
	.text-low{
		font-size: 12px;
		
	}




.agenda{
	display: flex;
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: #eee 1px solid;
}
.agenda:last-child{
	border: none;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.agenda-hora{
	display: flex;
	flex-flow: column;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 15%;
	text-align: center;
}
	.agenda-hora span{
		font-weight: 500;
		font-size: 18px;
		
	}
	.agenda-hora span:first-child{
		color: #e74c3c;
	}
	.agenda-hora span:last-child{
		color: #2a5f88;
	}
.agenda-detalle{
	display: flex;
	flex-flow: grid;
	justify-content: center;
	flex-wrap: wrap;
	width: 85%;
}
	.agenda-detalle-cliente{
		width: 65%;
		margin-bottom: 7px;
	}
	.agenda-detalle-asunto{
		width: 35%;
		margin-bottom: 7px;
	}
	.agenda-detalle-seguimiento{
		width: 100%;
	}
	.agenda-detalle strong{
		font-weight: 700;
	}
.agenda-quitar{
	display: flex;
	justify-content: center;
	flex-direction: column;
}




/* CALENDARIO */
.calendario{
    max-width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}
.calendario th{
    font-weight: 500 !important;
    color: #e55039;
}
.calendario .fc-event{
    white-space: nowrap;
    
    transition: 0.2s;
}
.calendario .fc-event:hover{
	opacity: 1;
}
.fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-content, .fc-unthemed .fc-popover, .fc-unthemed .fc-list-view, .fc-unthemed .fc-list-heading td{
    border-color: #eee !important;
}
.calendario-etiquetas{
    font-size: 12px;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
}
.calendario-etiquetas .item-color{
    width: 20px; 
    height: 20px; 
    border-radius: 100px; 
    display: block;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 10px;
}
    .calendario-etiquetas .actividades{
        background-color: #2a5f88;
    }
    .calendario-etiquetas .feriado{
        background-color: #e74c3c;
    }
    .calendario-etiquetas .generales{
        background-color: #2ecc71;    
    }
    .calendario-etiquetas .pasados{
        background-color: #95a5a6;    
    }
.fc-other-month{
    background-color: rgba(236, 240, 241, 0.5);
}
.fc td.fc-sun{
    background-color: rgba(231, 76, 60, 0.05);
}
    
.calendario-etiquetas h5,
.calendario-etiquetas p{
    display: inline-block;
}
.calendario-etiquetas h5{
    font-weight: 500;
    font-size: 16px !important;
}
.calendario-etiquetas p{
    font-size: 13px;
    color: 787878;
}


.vertical-middle tr td{
	vertical-align: middle !important;
}

.fa-check-circle{
	color: #fb6666;
}